<div class="preview-label preview-margin">
    <p>
        <span class="previewLabel">{{translationMap['ONLINE_CC_MESSAGE'] | translate}}:</span>
        <span class="previewValue">{{previewStepData.fields.textList.onlineCCMessage[languageIdForEnglish]}}</span>
    </p>
    <p>
        <span class="previewLabel">{{translationMap['GDS_MESSAGE'] | translate}}:</span>
        <span class="previewLabel">{{previewStepData.fields.textList.gdsMessage.gdsLine1[languageIdForEnglish]}}</span>
        <span class="previewValue">{{previewStepData.fields.textList.gdsMessage.gdsLine2[languageIdForEnglish]}}</span>
    </p>
</div>
